
@{
    ViewBag.Title = "TypeBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var booktypeid = ViewBag.booktypeid;
}
<style>
    h2 {
        font-size:3em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
<h2> @ViewBag.BookTypeName</h2>

<div id="BookList">
    <table id="table" class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>书籍ID</th>
                <th>书籍名称</th>
                <th>作者</th>
                <th>简介</th>
                <th>点击数</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="demoPage"></div>
</div>


<script>
    $(function(){
        FindDataAndPage(1,10);
    });
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
        ,layer = layui.layer;

        //调用分页
        laypage({
            cont: 'demoPage' //分页容器的id
            ,pages: Math.ceil(total/10) //总页数
            ,skin: '#5FB878' //自定义选中色值
            //,skip: true //开启跳页
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第'+ obj.curr +'页');
                    FindDataAndPage(obj.curr,10);
                }
            }
        });

    });
    var total = 0 ;
    function FindDataAndPage(pageindex,pagesize){
        $.post("/BookInfo/SelectTypeBook",
            {
                booktypeid : @booktypeid,
                PageIndex: pageindex,
                PageSize: pagesize
            }
            , function (data) {
                total= data.Total;
                list= data.List ;
                var str = "";
                for(var i = 0;i<list.length;i++)
                {
                    str += "<tr>";
                    str += "<td>"+list[i].BBookID+"</td>";
                    str += "<td>"+list[i].BName+"</td>";
                    str += "<td>"+list[i].Writer+"</td>";
                    str += "<td>"+list[i].BIntroduction+"</td>";
                    str += "<td>"+list[i].BVisitCount+"</td>";
                    str += "</tr>";
                }
                if(list==null&&list.length<=0){
                    str += "<tr><td colspan='"+list.Count+"'>当前书籍类型没有可阅读书籍！</td></tr>";
                }
                $("#table tbody").html(str);
            });
    }
    $("#find").click(function(){
        FindDataAndPage(1,10);
    });
    function operations(obj){
        //myid = $(obj).attr("myid");
        //alert(myid);

    }

</script>
