
@{
    ViewBag.Title = "ApplyBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #timerange .layui-input {
        width: 40%;
    }

    .layui-input {
        display: inline;
    }

    #ApplyStatue {
        height: 38px;
    }
</style>

@*<h2>ApplyBooks</h2>*@


<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">书籍名称</label>
        <div class="layui-input-block">
            <input type="text" name="bookname" id="bookname" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="startdatetime" placeholder="开始时间" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="enddatetime" placeholder="结束时间" autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">书籍申请类型</label>
            <div class="layui-input-inline">
                <select id="ApplyStatue" name="ApplyStatue" lay-verify="required" lay-search="">
                    <option value="0">请选择</option>
                    <option value="1">申请中</option>
                    <option value="2">申请成功</option>
                    <option value="3">已反驳</option>
                </select>
            </div>
        </div>
    </div>
</form>
<div>
    <input type="button" class="layui-btn active" id="find" value="查询" />
</div>
<div id="ApplyList">
    <table id="table" class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>书籍ID</th>
                <th>书籍名称</th>
                <th>书籍申请者ID</th>
                <th>书籍申请者</th>
                <th>申请时间</th>
                <th>申请状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="demoPage"></div>
</div>

<script>
    $(function(){
        //FindDataAndPage(1,10);
    });
    layui.use(['form','laypage', 'layer','laydate'], function(){
        var laypage = layui.laypage
            , laydate = layui.laydate
        ,layer = layui.layer
        ,form = layui.form();

        function FindDataAndPage(pageindex,pagesize,render){
            $.post("/Writer/FindApply",
                {
                    account: @UserEntity.Account,
                    bookname:$("#bookname").val(),
                    startdatetime:$("#startdatetime").val(),
                    enddatetime:$("#enddatetime").val(),
                    ApplyStatue:$("#ApplyStatue  option:selected").val(),
                    PageIndex: pageindex,
                    PageSize: pagesize
                }
                ,function(data){
                    total= data.Total;
                    if (render) {
                        laypage({
                            cont: 'demoPage' //分页容器的id
                , pages: Math.ceil(total / 10) //总页数
                , skin: '#5FB878' //自定义选中色值
                            //,skip: true //开启跳页
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页');
                        FindDataAndPage(obj.curr, 10, false);
                    }
                }
                        });
                    }
                    list= data.List ;
                    var str = "";
                    for(var i = 0;i<list.length;i++)
                    {
                        var statue = "";
                        if(list[i].BStatue == 1){
                            statue = "申请中";
                        }else  if(list[i].BStatue == 2){
                            statue = "申请成功";
                        }else  if(list[i].BStatue == 3){
                            statue = "申请驳回";
                        }
                        str += "<tr>";
                        str += "<td>"+list[i].BBookID+"</td>";
                        str += "<td>"+list[i].BName+"</td>";
                        str += "<td>"+list[i].WriterID+"</td>";
                        str += "<td>"+list[i].Writer+"</td>";
                        str += "<td>"+data_string_Date(list[i].ApplyTime).FormatStr("yyyy-MM-dd")+"</td>";
                        str += "<td>"+statue+"</td>";
                        str += "<td><a class='operations' onclick='operations(this)' myid='"+list[i].BBookID+"'>操作</a></td>";
                        str += "</tr>";
                    }
                    if(list==null&&list.length<=0){
                        str += "<tr><td colspan='"+list.Count+"'>无数据</td></tr>";
                    }
                    $("#table tbody").html(str);
                });
        }
        $("#find").click(function(){
            FindDataAndPage(1,10,true);
        });

    });
    var total = 0 ;
   
    function operations(obj){
        myid = $(obj).attr("myid");
        alert(myid);

    }



</script>
